.feedback-card
    .feedback-header SEND FEEDBACK
    form.feedback-body
        input.feedback-body__email(placeholder="Email",type="email")
        textarea.feedback-body__message(placeholder="Message",type="text")
        button.feedback-body__submit SEND